<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="width=device-width , initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Admin.css">
    <link rel="stylesheet" href="/Navigation_bar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="adminContainer">
        
        <!-- Navigation -->
        <div class="navigation">
            <ul>
                <li class="list active">
                    <a href="/auth/logout">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Heading -->
        <div class="heading">
            <h1>Admin Panel</h1>
        </div>

        <!-- Table Wrapper -->
        <div class="wrapper">
            <table class="table table-bordered table-hover table-striped" id="appointment_list">
                <thead>
                    <tr>
                        <th scope="col" class="text-center align-middle">Name</th>
                        <th scope="col" class="text-center align-middle">Mobile Number</th>
                        <th scope="col" class="text-center align-middle">Gender</th>
                        <th scope="col" class="text-center align-middle">Date</th>
                        <th scope="col" class="text-center align-middle">Description</th>
                        <th scope="col" class="text-center align-middle">Start time</th>
                        <th scope="col" class="text-center align-middle">End time</th>
                        <th scope="col" class="text-center align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (appointments.length > 0) { %>
                        <% for (var i = 0; i < appointments.length; i++) { %>
                            <tr>
                                <td data-label="Name">
                                    <%= appointments[i].user.firstName %>
                                </td>
                                <td data-label="Mobile Number">
                                    <%= appointments[i].user.userDetails[0].mobile %>
                                </td>
                                <td data-label="Gender">
                                    <%= appointments[i].user.userDetails[0].gen %>
                                </td>
                                <td data-label="Date">
                                    <%= appointments[i].date.toString().slice(0,15) %>
                                </td>
                                <td data-label="Description" style="max-width:30vw">
                                    <%= appointments[i].description %>
                                </td>
                                <td data-label="Start time">
                                    <%= appointments[i].start_time %>
                                </td>
                                <td data-label="End time">
                                    <%= appointments[i].end_time %>
                                </td>
                                <td data-label="Action">
                                    <button class="btn btn-danger btn-sm" onclick="Delete(this)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="8" class="text-center">No appointments available</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function Delete(x) {
            x.parentElement.parentElement.remove();
        }
    </script>
</body>

</html>
